.addTask__field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .taskList__input {
        width: 400px;
        margin-right: 5px;
        padding: 10px 0;
        padding-left: 10px;
        color: #595550;
        text-align: left;
        font-size: 18px;
        border: 2px solid #d9614c;
        border-radius: 12px;

        &:focus {
            outline: 0;
        }
    }

    .taskList__button {
        padding: 10px 20px;
        margin-left: 5px;
        text-align: center;
        background-color: #d9614c;
        color: #fffbfa;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        border: none;
        border-radius: 12px;
        transition: transform 150ms ease;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        &:active {
            background-color: #b02324;
            transform: scale(1);
        }
    }
}