body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8eee2;
}

code {
  font-family: 'Nunito', sans-serif; 
}