.task__list {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, .12);
    background-color: #fffdfa;
}